@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site takes news from RSS-sourses.</p>
@Html.ActionLink("See News upload log file...", "../News/NewsLog", new { @class="btn btn-default"})
